.*
*.o
*.la
*.lo
*.pc
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
m4
*.tab.h
*.tab.c
*.lex.c
src/shaders/*.bin.h
src/gen_shader_bin
*~
*.orig
